/* Danh sách gợi ý */
.search-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    overflow: hidden;
    max-height: 200px;
    overflow-y: auto;
}

.search-container ul li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.search-container ul li:hover {
    background: #f0f0f0;
}

