<head>
  {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'app_home/custom/css/style.css' %}">
  <script src="{% static 'app_home/custom/js/script.js' %}" defer></script>
</head>
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme" style="width: 40vw; max-width: 40vw;">
  <div class="search-container">
      <i class="fa-solid fa-magnifying-glass search-icon"></i>
      <input id="search-input" type="text" placeholder="Tìm kiếm..." />
      <i class="fa-solid fa-xmark clear-icon" onclick="clearSearch()"></i>
  </div>
</aside>
