<style>
  .nav-bar {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100vw;
      height: 60px;
      background: white;
      display: flex;
      justify-content: space-around;
      align-items: center;
      box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
      z-index: 1000;
  }

  .nav-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: 14px;
      color: gray;
  }

  .nav-item img {
      width: 24px;
      height: 24px;
  }

  .nav-item:hover {
      color: black;
  }
</style>

<div class="nav-bar">
  <div class="nav-item" onclick="showMap()">
      <img src="https://cdn-icons-png.flaticon.com/512/684/684908.png" alt="Map">
      <span>Bản đồ</span>
  </div>
  <div class="nav-item" onclick="showList()">
      <img src="https://cdn-icons-png.flaticon.com/512/747/747310.png" alt="List">
      <span>Danh sách</span>
  </div>
  <div class="nav-item" onclick="showAccount()">
      <img src="https://cdn-icons-png.flaticon.com/512/456/456212.png" alt="Account">
      <span>Tài khoản</span>
  </div>
</div>
